.links-container {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

.footer-inner {
    background-color: rgb(214, 214, 204);
}

.footer-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100%;
}
