.landing-card {
    background-color: beige;
    padding: 10px;
    margin: 10px;
    max-width: 250px;
    border-radius: 5%;
}

.landing-card h4 {
    display:flex;
    justify-content: center;
    align-items: center;
}

.landing-card a {
    text-decoration: none;
    color: black;
}
