/* TODO Add site wide styles */

body {
    background-color: #fffffff8;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    box-sizing: border-box;
    background-image: url('https://cdn.pixabay.com/photo/2016/12/26/17/28/spaghetti-1932466_960_720.jpg');
    background-size: cover;
    height: 100vh;
}

.sign-up-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: rgb(214, 214, 204);
}

.sign-up-inner {
    padding: 20px;
}

.sign-up-inner label, input {
    display: inline-block;
}

.sign-up-buttons {
    display: flex;
    flex-direction: row;
}

.sign-up-buttons button {
    outline: none;
    display: block;
    border: solid 1px #664a16;
    color: #664a16;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    border-radius: 30px;
    background: rgb(214, 214, 204);
    cursor: pointer;
    transition: all 0.3s linear;
    margin: 5px;
}

.sign-up-buttons button:focus {
    background-color: #664a16;
    color: rgb(214, 214, 204);
}
.sign-up-buttons button:active {
    background: rgb(214, 214, 204);
    color: #664a16;
    border: solid 1px #664a16;
}

.sign-up-buttons button:hover {
    background-color: #664a16;
    color: rgb(214, 214, 204);
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.log-in-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: rgb(214, 214, 204);
}

.log-in-inner {
    padding: 20px;
}

.sign-up-inner {
    padding: 20px;
}

.sign-inner input {
    margin-left: 20px;
}

.log-in-inner label, input {
    display: inline-block;
}

.log-in-inner input {
    margin-left: 20px;
}

.log-in-buttons {
    display: flex;
    flex-direction: row;
}

.log-in-buttons button {
    outline: none;
    display: block;
    border: solid 1px #664a16;
    color: #664a16;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    border-radius: 30px;
    background: rgb(214, 214, 204);
    cursor: pointer;
    transition: all 0.3s linear;
    margin: 5px;
}

.log-in-buttons button:focus {
    background-color: #664a16;
    color: rgb(214, 214, 204);
}
.log-in-buttons button:active {
    background: rgb(214, 214, 204);
    color: #664a16;
    border: solid 1px #664a16;
}

.log-in-buttons button:hover {
    background-color: #664a16;
    color: rgb(214, 214, 204);
}

/* Navbar */

nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    font-size: 16px;
    margin-top: 0;
    background-color: #e2d8ca;
}

.navbar{
    list-style-type: none;
    float: right;
    margin-right: 20px;
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}

.nav-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 15px;
}

#navbar__logo{
    display: flex;
    width: 175px;
    /* padding: 0 100px; */
    line-height: 80px;
}

.nav-logo a:active{
    background:none !important;
}

.navbar__link a:visited {
    color: #fff;
}

.navbar__link a {
    position: relative;
    transition: 900ms;
    animation: ease-in-out;
    color: #fff;
    text-decoration: none;
    /* background-color: #3A3B40; */
    border-radius: 3px;
    margin: 0 5px;
    cursor: pointer;
    line-height: 80px;
}

.navbar__link a:hover,a:active {
    color: #fff;
    background-color: rgba(134, 137, 152, 0.39)
}

.navbar__link a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #664a16;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.navbar__link a:hover::before {
    transform: scaleX(1);
  }

.navbar__button button {
    outline: none;
    display: block;
    border: solid 1px #664a16;
    color: #664a16;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    border-radius: 30px;
    background: #e2d8ca;
    cursor: pointer;
    transition: all 0.3s linear;
    margin: 5px;
}

.navbar__button button:focus {
    background-color: #664a16;
    color: #e2d8ca;
}

.navbar__button button:active {
    background: #e2d8ca;
    color: #664a16;
    border: solid 1px #664a16;
}

.navbar__button button:hover {
    background-color: #664a16;
    color: #e2d8ca;
}

#navbar__logo{
    display: flex;
    width: 250px;
    /* padding: 0 100px; */
    line-height: 80px;
    margin-bottom: 25px;
}

.cover-container {
    max-width: 1000px;
    max-height: 2000px;
    background-color: white;
    margin-top: 250px;
    margin-left: 500px;
    border-radius: 10%;
}

#splash__logo{
    display: flex;
    width: 750px;
    /* padding: 0 100px; */
    line-height: 80px;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: 150px;
    transform: rotate(2deg)
}

.quote-container {
    margin-top: 0px;
    margin-left: 225px;
    margin-bottom: 25px;
}

.form-errors {
    color: red;
    font-weight: bold;
}
