.delete-button button {
    outline: none;
    display: block;
    border: solid 1px #664a16;
    color: #664a16;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    border-radius: 30px;
    background: lightgray;
    cursor: pointer;
    transition: all 0.3s linear;
    margin: 5px;
}

.delete-button button:focus {
    background-color: #664a16;
    color: lightgray;
}

.delete-button button:active {
background: lightgray;
color: #664a16;
border: solid 1px #664a16;
}

.delete-button button:hover {
background-color: #664a16;
color: lightgray;
}
