.recipe-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
}

.recipe-square {
    display: flex;
    flex: row;
    max-height: 450px;
    width: 550px;
    background-color: lightgray;
    margin: 10px;
}

.recipe-info{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 5px;
}

.recipeLink a{
    text-decoration: none;
    color: black;
    font-size: 30px;
}
